<!-- <h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <input type="text" name="ask_question" placeholder="What do you want?">
  <input type="submit" value="Ask!">
</form>
<p><%= @question %></p>

<p><%= @answer %></p>

 -->

<h1>Stupid Coaching</h1>

<blockquote>
  <p>
    <% if @question.blank? %>
      😶
    <% else %>
      <%= @question %>
    <% end %>
  </p>
  <cite>You</cite>
</blockquote>

<blockquote class="coach">
  <p><%= @answer %></p>
  <cite>Your coach</cite>
</blockquote>

<%= link_to "Ask a new question", ask_path %>


